<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About My-Blog</h2>
  <p>
    The My-Blog website is a delightful project created to explore Ember.
    By building a blog site, we can simultaneously imagine reading
    AND building Ember applications.
  </p>
  <LinkTo @route="contact" class="button">
      Contact-Me
  </LinkTo>
</div>