<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Me</h2>
  <p>
    Mallikarjun would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Mallikarjun Rayar
    <p>
      Anagol, Belagavi-590006<br>
      Karnataka, India.
    </p>
    <a href="tel:8495099327">+91-8495099327</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">mallikarjunrayar003@gmail.com</a>
  </address>
  <LinkTo @route="about" class="button">
      About
  </LinkTo>
</div>