<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to My-Blog</h2>
  <p>I hope you find exactly what you're looking for in a place to stay.</p>

  <LinkTo @route="about" class="button">
      About
  </LinkTo>
</div>