<Jumbo>
  <h2>Welcome to My-Blog</h2>
  <p>I hope you find exactly what you're looking for in a place to stay.</p>

  <LinkTo @route="about" class="button">
      About
  </LinkTo>
</Jumbo>
<div class="rentals">
  <ul class="results">
    <li><Blog /></li>
    <li><Blog /></li>
    <li><Blog /></li>
  </ul>
</div>